<app-auth-layout title="Unlock Your Potential" subTitle="Sign In to Start Learning Today!">
    <div class="sign-up-page" form-block>
        <div class="header-login">
            <p>Register your account</p>
            <p>Put some informations below and start your journey</p>
        </div>
        <div class="form">
            <app-input label="Name" placeholder="digby@email.com" type="text"></app-input>
            <app-input label="E-mail" placeholder="digby@email.com" type="email"></app-input>
            <app-input label="Password" placeholder="********" type="password"></app-input>
            <app-input label="Confirm your password" placeholder="********" type="password"></app-input>
            <button>Create Account</button>
        </div>
        <p class="label-description">Already have an account? <span routerLink="/login">Log In.</span></p>
    </div>
</app-auth-layout>
