<div class="landing-page">
    <app-header [isFixed]="true"></app-header>

    <div class="content-page">
        <div class="board-initial">
            <div class="informations">
                <div class="principal">
                    <p class="title">{{ title }}</p>
                    <p class="subtitle">{{ subTitle }}</p>
                </div>
            </div>
        </div>

        <div class="login-body">
            <ng-content select="[form-block]"></ng-content>
        </div>
    </div>
</div>