<app-auth-layout title="Welcome Back!" subTitle="Let’s Achieve Your Goals Together.">
    <div class="login-page" form-block>
        <div class="header-login">
            <p>Log into your account</p>
            <p>Enter your login details below</p>
        </div>
        <div class="form">
            <app-input label="E-mail" placeholder="digby@email.com" type="email"></app-input>
            <app-input label="Password" placeholder="********" type="password"></app-input>
            <button>Login</button>
        </div>
        <p class="label-description">Don't have an account yet? <span routerLink="/sign-up">Register with us.</span></p>
    </div>
</app-auth-layout>